@using System.Collections.Specialized
@using BlazorNotifier.Classes
@using System.Collections.ObjectModel
@inject BlazorNotifierClientService Notifi
@if (Notifi.CountOfNotifications > 0)
{
    <p>@Notifi.CountOfNotifications</p>
    <div class="notification-area">
        @foreach (var message in Notifi.Notification.Progress)
        {
            <BlazorNotifier.Components.NotifierProgress Id="@message.Id" Title="@message.Title" Message="@message.Message" />

        }
        @foreach (var message in Notifi.Notification.Messages)
        {
            <BlazorNotifier.Components.NotifierMessage Id="@message.Id" Title="@message.Title" Type="@message.Type" TimeOut="@message.TimeOut" />
        }
    </div>

}
@code
{
    protected override void OnInitialized()
    {
        Notifi.OnChange += StateHasChanged;
    }


}